<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi, I am Manuj Kumar Joshi</h1>
    <p> Designation: Chief Data Scientist</p>
    <!-- <a href='about'>Click Here</a> to get more details -->

    <form action='/about' method='post'>
        <label>Enter your Full Name:</label>
        <input type='text' name='inp_1'><br><br>
        <label>Enter your Email Id:</label>
        <input type='text' name='inp_2'><br><br>
        <label>Enter your Password:</label>
        <input type='password' name='inp_3'><br><br>
        <input type="Submit" value='Register'>
    </form>
</body>
</html>